[1masttokens[0m==3.0.0
[1mcomm[0m==0.2.3
[1mcontourpy[0m==1.3.3
[1mcycler[0m==0.12.1
[1mdebugpy[0m==1.8.17
[1mdecorator[0m==5.2.1
[1mexecuting[0m==2.2.1
[1mfilelock[0m==3.19.1
[1mfonttools[0m==4.60.1
[1mfsspec[0m==2025.9.0
[1mipykernel[0m==6.30.1
[1mipython[0m==9.6.0
[1mipython-pygments-lexers[0m==1.1.1
[1mjedi[0m==0.19.2
[1mjinja2[0m==3.1.6
[1mjoblib[0m==1.5.2
[1mjupyter-client[0m==8.6.3
[1mjupyter-core[0m==5.8.1
[1mkiwisolver[0m==1.4.9
[1mmarkupsafe[0m==3.0.3
[1mmatplotlib[0m==3.10.6
[1mmatplotlib-inline[0m==0.1.7
[1mmpmath[0m==1.3.0
[1mnest-asyncio[0m==1.6.0
[1mnetworkx[0m==3.5
[1mnumpy[0m==2.3.3
[1mnvidia-cublas-cu12[0m==12.8.4.1
[1mnvidia-cuda-cupti-cu12[0m==12.8.90
[1mnvidia-cuda-nvrtc-cu12[0m==12.8.93
[1mnvidia-cuda-runtime-cu12[0m==12.8.90
[1mnvidia-cudnn-cu12[0m==9.10.2.21
[1mnvidia-cufft-cu12[0m==11.3.3.83
[1mnvidia-cufile-cu12[0m==1.13.1.3
[1mnvidia-curand-cu12[0m==10.3.9.90
[1mnvidia-cusolver-cu12[0m==11.7.3.90
[1mnvidia-cusparse-cu12[0m==12.5.8.93
[1mnvidia-cusparselt-cu12[0m==0.7.1
[1mnvidia-nccl-cu12[0m==2.27.3
[1mnvidia-nvjitlink-cu12[0m==12.8.93
[1mnvidia-nvtx-cu12[0m==12.8.90
[1mopencc[0m==1.1.9
[1mpackaging[0m==25.0
[1mpandas[0m==2.3.3
[1mparso[0m==0.8.5
[1mpexpect[0m==4.9.0
[1mpillow[0m==11.3.0
[1mplatformdirs[0m==4.4.0
[1mprompt-toolkit[0m==3.0.52
[1mpsutil[0m==7.1.0
[1mptyprocess[0m==0.7.0
[1mpure-eval[0m==0.2.3
[1mpygments[0m==2.19.2
[1mpyparsing[0m==3.2.5
[1mpython-dateutil[0m==2.9.0.post0
[1mpytz[0m==2025.2
[1mpyzmq[0m==27.1.0
[1mscikit-learn[0m==1.7.2
[1mscipy[0m==1.16.2
[1mseaborn[0m==0.13.2
[1msetuptools[0m==80.9.0
[1msix[0m==1.17.0
[1mstack-data[0m==0.6.3
[1msympy[0m==1.14.0
[1mthreadpoolctl[0m==3.6.0
[1mtorch[0m==2.8.0
[1mtorchvision[0m==0.23.0
[1mtornado[0m==6.5.2
[1mtqdm[0m==4.67.1
[1mtraitlets[0m==5.14.3
[1mtriton[0m==3.4.0
[1mtyping-extensions[0m==4.15.0
[1mtzdata[0m==2025.2
[1mwcwidth[0m==0.2.14
